<div class="text-center container" style="margin-top: 1.5rem">
    <h2>CONTACT US</h2>
    <div class="social">
        <a href="https://vi-vn.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=vi"><i class="fab fa-twitter"></i></a>
        <a href="https://ads.google.com/intl/vi_vn/getstarted/?subid=vn-vi-ha-awa-bk-c-l00!o3~Cj0KCQjwpreJBhDvARIsAF1_BU0gVty5XnpyxESqt2ekO4PX48hqa7GhxhUliWslavbkWfshDjcpb70aAhLTEALw_wcB~123593086017~kwd-21283811~13984401112~538552239800&gclsrc=aw.ds&gclid=Cj0KCQjwpreJBhDvARIsAF1_BU0gVty5XnpyxESqt2ekO4PX48hqa7GhxhUliWslavbkWfshDjcpb70aAhLTEALw_wcB"><i
                class="fab fa-google-plus-g"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
    </div>
</div>


    <div class="mt-4 p-4 text-dark block-footer">
        <div class="mt-1 text-white">
            <div class="row text-center">
                <div class="col-sm-4">
                    <h3>NEED HELP</h3>
                    <p>028.3920.7621</p>
                    <p>info@saigoniz.com</p>
                </div>
                <div class="col-sm-4">
                    <h3>WORKING</h3>
                    <p>Monday-Friday: 8:00 - 20:00</p>
                    <p>Weekend: 8:00 - 17:00</p>
                </div>
                <div class="col-sm-4">
                    <h3>BECOME A MEMBER</h3>
                    <p>Join now and get 10% off your second purchase, and free returns on all online purchases!</p>
                </div>
                <div class="container text-align">
                    <button class="background-img-content-btn btn">
                <a style="text-decoration: none; color: white" href="https://www.facebook.com/saigoniz.vn">MESSAGE US</a>
            </button>
                </div>
                <div>
                    <div>
                        <p class="text-center"> Copyright &copy; 2022 SAIGONIZ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

