{% extends 'layout/base.html' %}
{% block title %}Register | Saigoniz{% endblock %}
{% block content %}


{% if err_msg %}
<div class="alert alert-danger">
    {{ err_msg }}
</div>
{% endif %}

<form method="post" enctype="multipart/form-data" action="/register">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 d-flex text-center" style="align-items: center">
                <img src="{{ url_for('static', filename='images/logo-12.png') }}" alt="logo-Saigoniz"
                     data-aos="fade-right" data-aos-duration="1500" style="width:80%">
            </div>
            <div class="col-md-7 col-sm-12">
                <h1 class="text-center" style="color: #28648a">CREATE ACOOUNT</h1>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" required id="name" placeholder="Enter your name"
                           name="name">
                    <label for="name">Name</label>
                </div>

                <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" required id="username" placeholder="Enter username"
                           name="username">
                    <label for="username">Username</label>
                </div>


                <div class="form-floating mt-3 mb-3">
                    <input type="password" class="form-control" required id="password" placeholder="Enter password"
                           name="password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="password" class="form-control" required id="confirm" placeholder="Confirm password"
                           name="confirm">
                    <label for="confirm">Confirm Password</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="file" class="form-control" id="avatar" name="avatar">
                    <label for="avatar">Avatar</label>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input type="submit" class="btn btn-interface" value="Create account" style="width:45%">
                    <a class="btn btn-interface float-end" href="/login" style="width:45%">I Already Have Account</a>
                </div>
            </div>
        </div>

    </div>
</form>

{% endblock %}